@{
    ViewData["Title"] = "Your Cart";
    Layout = "_Layout";
}

<h1>Cart Page</h1>

<div id="cart-items" class="mt-4">
    <!-- Cart items will be dynamically inserted here -->
</div>

<div id="cart-total" class="mt-4">
    <h4>Total: Rs. <span id="total-amount">0</span></h4>
</div>

<script src="~/js/cart.js"></script>